.root {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #000000;
}
/************************** Image Desktop ***********************************/

.plusContainer {
  position: relative;
  width: 15px;
  height: 15px;
}

.rectangleBackContainer {
  position: relative;
  width: 209.29151916503906px;
  height: 312.7168731689453px;
}

.rectangleBackMobileContainer {
  position: relative;
  width: 178.89px;
  height: 197.23px;
}

.rectangleBackMobile2Container {
  position: relative;
  width: 106.34622192382812px;
  height: 123.19920349121094px;
}
.rectangleBackMobile3Container {
  position: relative;
  width: 76.69094848632812px;
  height: 89.83780670166016px;
}
.footballer {
  z-index: 1;
  width: 36%;
  height: 100%;
  left: 7%;
  position: absolute;
  top: 11%;

  @media screen and (max-width: 1440px) {
    width: 90%;
    left: -30%;
    top: 11%;
  }
}

.imageContainerTablet {
  width: 510px;
  height: 719px;
  position: relative;
  left: calc(55% - 250px);
}

.imageContainerTabletBas {
  width: 691px;
  height: 568px;
  position: relative;
  left: calc(-6% - 200px);
}

.basketBaller {
  width: 60%;
  max-width: 940px;
  height: 100%;
  position: absolute;
  bottom: 6%;
  max-height: 848px;
  right: 0%;
  @media screen and (max-width: 1440px) {
    width: 50%;
    right: -26%;
    top: 5%;
  }
}

/************************** Image Desktop ***********************************/

.header1 {
  color: #c2c2c2;
}
.insideContainer {
  width: 55%;
  padding-right: 10%;
  max-width: 50rem;
  .mainHeader {
    font-weight: 400;
    font-size: 90px;
    color: #e7e7e7;
  }
}

.headContainer {
  padding-top: 4rem;
  display: flex;
  justify-content: flex-end;
}
.whiteContainer {
  padding: 60px 0;
  display: flex;
  justify-content: flex-end;
  @media screen and (max-width: 1440px) {
    padding: 30px 0;
  }
}

.greyContainer {
  padding: 3rem 0;
  background: #f5f4f9;
  display: flex;
  justify-content: flex-end;
  @media screen and (max-width: 1440px) {
    padding: 30px 0;
  }
}

.purpleContiner {
  padding: 3rem 0;
  background: #5e3db3;
  display: flex;
  justify-content: flex-end;
  @media screen and (max-width: 1440px) {
    padding: 30px 0;
  }
}

.detailContainer {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
.countContiner {
  padding-right: 0.5rem;
}

.numberHeader {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.rectangleContainer {
  margin-top: -0.35rem;
}
.detailHeader {
  color: #c2c2c2;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
}

.detailFont {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.detailFontWhite {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
}

/************************** BOT ***********************************/

.headContainerBot {
  padding-top: 7.5rem;
  display: flex;
  @media screen and (max-width: 1440px) {
    padding-top: 2rem;
  }
}
.whiteContainerBot {
  padding: 60px 0;
  display: flex;
  @media screen and (max-width: 1440px) {
    padding: 30px 0;
  }
}

.greyContainerBot {
  padding: 60px 0;
  background: #f5f4f9;
  @media screen and (max-width: 1440px) {
    padding: 30px 0;
  }
}

.blueContiner {
  padding: 60px 0;
  background: #100c34;
  display: flex;
  @media screen and (max-width: 1440px) {
    padding: 30px 0;
  }
}
.insideContainerBot {
  width: 55%;
  padding-left: 18%;
  max-width: 50rem;
  .mainHeaderBot {
    padding-top: 2rem;
    font-weight: 400;
    font-size: 90px;
    color: #e7e7e7;
  }

  @media screen and (max-width: 1440px) {
    padding-left: 10%;
    width: 100%;
    max-width: 34rem;
  }
}
.numberHeaderPurple {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #5e3db3;
}
/************************** Mobile ***********************************/
/************************** Mobile ***********************************/
/************************** Mobile ***********************************/
/************************** Mobile ***********************************/
/************************** Mobile ***********************************/

.mobile {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #000000;
}
.mobileMainHeader {
  font-weight: 400;
  font-size: 50px;
  color: #e7e7e7;
  line-height: 58.59px;
  padding: 20px 20px 15px;
}
.mobileFootballer {
  z-index: 10;
  width: 302px;
  position: relative;
  height: 250px;
  margin-bottom: -3rem;
}

.mobileGreyContainer {
  background: #f5f4f9;
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.mobileContainer {
  padding: 4rem 2rem;
  width: 100%;
}
.mobileDetailContainer {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}
.mobileCountContiner {
  padding-right: 0.5rem;
}
.mobileNumberHeader {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}
.mobileRectangleContainer {
  margin-top: -0.45rem;
}
.mobileDetailHeader {
  color: #c2c2c2;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;
}

.mobileDetailFont {
  font-weight: 400;
  font-size: 15px;
  line-height: 17.58px;
}
.dotContainer {
  position: absolute;
  bottom: 25px;
  left: calc(50% - 25px);
}
.dot {
  display: flex;
  gap: 10px;
  justify-content: center;
  width: 50px;
}
